/* Base page setup */
*{
    border:0;
    padding:0;
    margin:0;
}

#wrapper{
    margin:auto;

}


header{
    height: 150px;
}

#mainContent{
    border: solid 1px black;
    min-height: 900px;
}

footer{
    height: 150px;
}

/* navigation */

#mainNavigation{
    position:relative;
}

.tools{
    position:absolute;
    bottom:0;
}

.tools a{
    display:block;
    text-align: center;
    text-decoration: none;
    font-size: 28pt;

}

.roomList{
    background-color: #fff;
    height: 100%;
}

.roomListItem{
    font-size: 50pt;
    height: 100%;
}

.roomListItem:hover{
    background-color: red;
    color: black;
}

.roomListItem::after{
    background-color: blue;
}

/* Room */


/* Schedule */

.participantList{
    background-color: #999;
    border: solid 1px red;
}

.schedule{
    border:solid 1px #777;
    height: 100%;
    min-height: 900px;
}


/* modal */

@media screen and (min-width: 676px) {
    .modal-dialog {
        min-width: 80%; /* New width for default modal */
      
    }
    .modal-content {
        min-height: 800px;
    }
}